/********页面样式********/
body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	/*min-width: 800px;
	min-height: 400px;*/
	overflow: hidden;
	font-family: 'Helvetica Neue', 'Microsoft YaHei', 'Luxi Sans', 'DejaVu Sans', Tahoma, 'Hiragino Sans GB', STHeiti;
}

/********底层页面样式********/
body .basepage {
	width: 100%;
	height: 100%;
}

body .basepage .headpage {
	float: left;
	width: 100%;
	height: 60px;
}

body .basepage .centerpage {
	float: left;
	width: 100%;
}

body .basepage .centerpage .leftpage {
	float: left;
	width: 180px;
	height: 100%;
}

body .basepage .centerpage .rightpage {
	float: left;
	height: 100%;
}

body .basepage .centerpage .rightpage .maincontent {
	margin: 2px;
	border: 2px solid #999999;
}

body .basepage .bottompage {
	float: left;
	width: 100%;
	height: 30px;
}

/********弹出层页面样式********/
body .popuppage {
	position: absolute;
	top: 0;
	left: 0;
}

body .loadpage {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: black;
	opacity: 0.8;
	display: none;
}

body .loadpage .content {
	position: relative;
	width: 100%;
	height: 100%;
}

body .loadpage .loadimg {
	position: relative;
	width: 50px;
	height: 50px;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
}

/********拖动条样式********/
.horizontaldargbar {
	float: left;
	width: 2px;
	height: 100%;
	background: #999;
	cursor: e-resize;
}

.verticaldragbar {
	float: left;
	width: 100%;
	height: 2px;
	background: #999;
	cursor: n-resize;
}